.transactionsTable {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid #999;
}
.transactionsTable td, .transactionsTable th {
    padding: 3px;
    border: 1px solid #999;
}
