.pageHeader {
    background-color: bisque;
    min-height: 80px;
    width: 100%;
    padding: 10px;
}

.pageHeader h1 {
    float: left;
    margin-right: 50px;
}

.pageHeader ul.nav {
    margin-top: 30px;
}

.pageHeader ul.nav li {
    display:inline;
    padding: 20px;
    font-size: 1.5em;
    color: brown;
}
